body{
  width: 700px;
  margin: auto;
  margin-top: 50px;
  color: grey;
}
img{
  float: left;
  padding-left: 5em;
  width:40%;
}
h1{
  color: red;
}
#info{
  float: left;
  width: 40%;
}
li{
  padding-left: 0;
}
