body{
    background-color: #F1F1F1;
}
#status{
  width: 100%;
  margin: auto;
  font-size: 30px;
}
#statusbanner{
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: white;
  top: 0;
}
#statusbanner p{
  font-size: 40px;
  width: 100%;
  margin:auto;
  margin-top:50px;
  float: left;
  font-weight: bolder;
  text-align: center;
}
#map{
  width: 98%;
  background-color: grey;
  height: 800px;
  border-radius:25px;

}
#map p{
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 350px;

}
#info{
  background-color: white;
  width: 95%;
  margin: auto;
  border-radius:25px;
  margin-top: 30px;
  padding-top: 40px;
}

#info p{
  height: 100px;
  text-decoration: none;
  list-style: none;
  font-size: 35px;
  margin-left: 50px;
  font-weight: bold;
}

footer{
  width: 100%;
  bottom: 0;
  background-color: white;
  height: 150px;
  position: fixed;
}

#footer a{
  font-size: 40px;
  margin-left: 250px;
  margin-top:50px;
  float: left;
  list-style: none;
  text-decoration: none;
  color: black;
}
