body {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

main {
  width: 80%;
  padding: 80px;
  text-align: center;
  top: 50px;
}

main h1 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 35px;
}

main p {
  color: #888888;
  font-size: 20px;
}

#items {
  width: 100%;
}

li {
  float: left;
  width: 28%;
  display: inline;
  padding: 10px;
}

#items1 {
  transition: all 200ms;
}

#items1:hover {
  transform: scale(1.5, 1.5);
  transition: all 500ms;
}

#items2 {
  transition: all 500ms;
}

#items2:hover {
  transform: scale(1.5, 1.5);
  transition: all 500ms;
}

#items3 {
  transition: all 500ms;
}

#items3:hover {
  transform: scale(1.5, 1.5);
  transition: all 500ms;
}

#explain {
  width: 100%;
  margin-left: 3em;
}

#explain1 {
  float: left;
  width: 28%;
  padding: 10px;
  height: 300px;
}

#explain2 {
  float: left;
  width: 28%;
  padding: 10px;
  height: 300px;
}

#explain3 {
  float: left;
  width: 28%;
  padding: 10px;
  height: 300px;
}

#overlay1, #overlay2, #overlay3, #close1, #close2, #close3 {
  display: none;
}

footer {
  left: 30%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  /* declarations */

  #items {
    width: 80%;
    margin:0 auto;
  }
}
